* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.landing {
    z-index: 5;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5% 150px 5% 1fr 5%;
    grid-template-areas:
        ". . ."
        ". title ."
        ". roboarm ."
        ". sign-in ."
        ". . ."
        "credits credits credits";
    place-items: center center;
}

.title {
    grid-area: title;
}

.roboarm {
    grid-area: roboarm;
}

.roboarm img {
    height: 70px;
    position: relative;

}

.anim-arm {
    position: relative;
    left: -15px;
    top: 25px;
    transform-origin: -3px -8px;
    animation: spin 2s infinite ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-90deg)
    }
}

.sign-in {
    grid-area: sign-in;
    border: 2px solid #eeeeee;
    padding: 5%;
    border-radius: 15px;
    background-color: #444444
}

.credits {
    grid-area: credits;
}
