* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;

}

.landing {
    z-index: 5;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 5% 150px 5% 1fr 5%;
    grid-template-areas:
        ". . ."
        ". title ."
        ". roboarm ."
        ". sign-in ."
        ". . ."
        "credits credits credits";
    place-items: center center;
}

.title {
    grid-area: title;
}

.roboarm {
    grid-area: roboarm;
}

.roboarm img {
    height: 70px;
    position: relative;

}

.anim-arm {
    position: relative;
    left: -15px;
    top: 25px;
    transform-origin: -3px -8px;
    animation: spin 2s infinite ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-90deg)
    }
}

.sign-in {
    grid-area: sign-in;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sign-in-button {
    border: 2px solid #eeeeee;
    border-radius: 15px;
    padding: 15px;
    background-color: #444444
}


.credits {
    grid-area: credits;
}


.recording {
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 80px 1fr 5%;
    grid-template-areas:
        "title"
        "buttons"
        "video"
        "credits";
    place-items: center center;


}

.small_logo {
    place-self: center start;
    padding-left: 3%;
}

.r_video {
    border: 3px solid #eeeeee;
    height: 95%;
    width: 95%;
    background-color: #33333300;
    border-radius: 20px;
}

video {
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 80vw;
    height: 70vh;
    z-index: 0;
    background-size: cover;
    overflow: hidden;
}

.buttons{
    place-self: center end;
    padding-right: 3%;

}

.main_button {
    color: inherit;
    padding: 10px 10px 10px 10px;
    border: 2px solid #eeeeee;
    border-radius: 15px;
    background-color: #444444
}
