* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;

}

.landing {
    z-index: 5;
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 180px 1fr;
    grid-template-rows: 1fr 5% 150px 5% 1fr 5%;
    grid-template-areas:
        ". . ."
        ". title ."
        ". roboarm ."
        ". sign-in ."
        ". . ."
        "credits credits credits";
    place-items: center center;
}

.title {
    grid-area: title;
}

.roboarm {
    grid-area: roboarm;
}

.roboarm img {
    height: 70px;
    position: relative;

}

.anim-arm {
    position: relative;
    left: -15px;
    top: 25px;
    transform-origin: -3px -8px;
    animation: spin 2s infinite ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-90deg)
    }
}

.sign-in {
    grid-area: sign-in;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sign-in-button {
    color: inherit;
    border: 2px solid #eeeeee;
    border-radius: 15px;
    padding: 15px;
    background-color: #444444
}


.credits {
    grid-area: credits;
}


.recording {
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 80px 1fr 5%;
    grid-template-areas:
        "title"
        "buttons"
        "video"
        "credits";
    place-items: center center;


}

.small_logo {
    place-self: center start;
    padding-left: 3%;
}

.r_video {
    border: 3px solid #eeeeee;
    height: 95%;
    width: 95%;
    background-color: #333333;
    border-radius: 20px;
}

.r_dot {
    background-color: #ff000000;
    border-radius: 10px;
    height: 8px;
    width: 8px;
    position: relative;
    top: 3%;
    left: 97%;
    animation: dot 2s infinite ease;
}

@keyframes dot {
    0% {
        background-color: #ff0000ff;
    }
    50% {
        background-color: #ff000000;
    }
    100% {
        background-color: #ff0000ff;
    }

}

.buttons{
    place-self: center end;
    padding-right: 3%;

}

.main_button {
    color: inherit;
    padding: 10px 10px 10px 10px;
    border: 2px solid #eeeeee;
    border-radius: 15px;
    background-color: #444444
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black;
  color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  padding: 15px;
  background-color: #444444;
  width: 100%;
  margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #444444;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
