<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RoboArm Viewer</title>
    <meta name="description" content="RoboArm | CS162 project">
    <meta name="author" content="Mikulas Plesak">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_robo.css') }}">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="jquery.js"></script> -->
</head>

<body>
    <main class="recording">
        <div class="title small_logo">
            <a href="{{ url_for('welcome') }}">
                <h3>RoboArm</h3>
            </a>
        </div>
        <!-- <button class="settings_button"><img src="static/images/cog.png" alt="settings icon"></button>-->
        <!-- <div class="settings_dropdown">
            <a class="settings_dropdown_option change_controls">
                <div>Change controls</div>
            </a>
            <a class="settings_dropdown_option upload_button">
                <div>Upload a code file</div>
            </a>
            <a href="{{ url_for('logout') }}" class="settings_dropdown_option">
                <div>Log out</div>
            </a>
        </div> -->
        <div class="main-page-buttons">
            <p><a class="main-page-button upload_button"> Upload a code file </a></p>
            <p> <a href="{{ url_for('logout') }}" class="main-page-button">Log out</a></p>
        </div>


        <div class="r_video">
            <div id="kaltura_player_1587453207"></div>
            <!--<div class="main_buttons left_buttons">
                <div class="main_button button_top"><img src="static/images/a_t.png" alt="arrow up"></div>
                <div class="main_button button_right"><img src="static/images/a_r.png" alt="arrow right"></div>
                <div class="main_button button_down"><img src="static/images/a_d.png" alt="arrow down"></div>
                <div class="main_button button_left"><img src="static/images/a_l.png" alt="arrow left"></div>
            </div>-
            <input type="range" min="1" max="100" value="50" class="slider slider_ver" id="RightLeft">
            <input type="range" min="1" max="100" value="50" class="slider slider_hor" id="UpDown"> -->
        </div>

        <div class="controllers">
            <h2 class="c_title">Control room</h2>
            <!--<img class = "c_armform" src="static/images/armform.png"> -->
            <div class="c_toggle">
                <p class="ct ct_a">Angles</p>
                <p class="ct ct_c">Coordinates</p>

            </div>

            <form action="/main/send_coordinates" method="POST" class="c_coordinates c_form">
                <p class="cf_title">Input coordinates</p>
                {% if sent_back_coordinates %}
                <input type="number" step=".01" min=0 class="form-table cf_1" id="fname" name="x" value={{ x }} placeholder={{ x }} required>
                <input type="number" step=".01" min=0 class="form-table cf_2" id="fname" name="y" value={{ y }} placeholder={{ y }} required>
                <input type="number" step=".01" min=0 class="form-table cf_3" id="fname" name="z" value={{ z }} placeholder={{ z }} required>
                <p class="cf_sub">Corresponding Joint Angles</p>
                <div class="form-table cf_11">&theta;1: {{ theta1 }}</div>
                <div class="form-table cf_22">&theta;2: {{ theta2 }}</div>
                <div class="form-table cf_33">&theta;3: {{ theta3 }}</div>
                {% else %}
                <input type="number" step=".01" min=0 class="form-table cf_1" id="fname" name="x" placeholder='x' required>
                <input type="number" step=".01" min=0 class="form-table cf_2" id="fname" name="y" placeholder='y' required>
                <input type="number" step=".01" min=0 class="form-table cf_3" id="fname" name="z" placeholder='z' required>
                {% endif %}
                <input type="submit" value="Submit" class="cf_submit">
            </form>

            <form action="/main/send_angles" method="POST" class="c_angles c_form">
                <p class="cf_title">Input angles</p>
                {% if sent_back_angles %}
                <input type="number" step=".01" min=0 class="form-table cf_1" id="fname" name="theta1" value={{ theta1 }} placeholder={{ theta1 }} required>
                <input type="number" step=".01" min=0 class="form-table cf_2" id="fname" name="theta2" value={{ theta2 }} placeholder={{ theta2 }} required>
                <input type="number" step=".01" min=0 class="form-table cf_3" id="fname" name="theta3" value={{ theta3 }} placeholder={{ theta3 }} required>
                <p class="cf_sub">Joint 1</p>
                <div class="form-table cf_11">x1: {{ x1 }}</div>
                <div class="form-table cf_22">y1: {{ y1 }}</div>
                <div class="form-table cf_33">z1: {{ z1 }}</div>
                <p class="cf_subsub">Joint 2</p>
                <div class="form-table cf_111">x2: {{ x2 }}</div>
                <div class="form-table cf_222">y2: {{ y2 }}</div>
                <div class="form-table cf_333">z2: {{ z2 }}</div>
                {% else %}
                <input type="number" step=".01" min=0 class="form-table cf_1" id="fname" name="theta1" placeholder="theta 1" required>
                <input type="number" step=".01" min=0 class="form-table cf_2" id="fname" name="theta2" placeholder="theta 2" required>
                <input type="number" step=".01" min=0 class="form-table cf_3" id="fname" name="theta3" placeholder="theta 3" required>
                {% endif %}
                <input type="submit" value="Submit" class="cf_submit">
            </form>

            <div class="c_howto">
                <h4>How to</h4>
                <p>You can input two types of information, but you can only input one at a time.</p>
                <p>Your second option is sending angles to which each joint should rotate.</p>
                <p>Your first option is sending the robot coordinates to which the head should move.</p>
            </div>
        </div>

        <div class="credits">&copy; RoboArm Team 2020</div>
    </main>
    {% if not sent_back %}
    <div class="loader">
        <div class="roboarm loader_arm">
            <img src="static/images/anim-joint.png" alt="Animated robot arm joint">
            <img class="anim-arm" src="static/images/anim-arm.png" alt="Animated robot arm">
        </div>
        <p class="loader_text">Logging you in...</p>
        <progress class="loader_bar" id="loader_bar" value="0" max="100"></progress>
    </div>
    {% endif %}

    <div class="form-parent">
        <div class="form-popup" id="UploadFile">
            <form action="main.html" class="form-container">
                <h1>Upload a .py file</h1>
                <label for="myfile"></label>
                <input type="file" name="myfile" id="myfile" class="file_upload" required>

                <button type="submit" class="btn">Upload</button>
                <button type="button" class="btn cancel">Close</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="https://cdnapisec.kaltura.com/p/2763741/sp/276374100/embedIframeJs/uiconf_id/45509061/partner_id/2763741"></script>
    <script>
        kWidget.embed({
            "targetId": "kaltura_player_1587453207",
            "wid": "_2763741",
            "uiconf_id": 45509061,
            "flashvars": {},
            "cache_st": 1587453207,
            "entry_id": "1_k8b67b1m"
        });

    </script>
</body>

</html>
