<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RoboArm Viewer</title>
    <meta name="description" content="RoboArm | CS162 project">
    <meta name="author" content="Mikulas Plesak">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_robo.css') }}">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <!-- <script src="jquery.js"></script> -->
</head>

<body>
    <main class="recording rec_obs">
        <div class="title small_logo medium_logo">
                <a href="{{ url_for('welcome') }}"><h3>RoboArm: observer mode</h3></a>
        </div>
        <div>
            <p class="sign-in-buttons log_in_button">Log in</p>
        </div>

        <div class="r_video">
            <video autoplay muted loop src="demo.mp4"></video>
        </div>

        <div class="credits">&copy; RoboArm Team 2020</div>
    </main>
    <div class="form-parent">
        <div class="form-popup" id="myForm">
            <form action="main.html" method="POST" class="form-container">
                <h1>Login</h1>

                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" id="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                <button type="submit" class="btn">Login</button>
                <button type="button" class="btn cancel">Close</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
</body></html>
